/**
 * Nova-X Admin Logo Styles
 * 
 * @package Nova-X
 */

.nova-x-sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
}

.nova-x-logo {
    height: 36px;
    width: auto;
}

